colorama
aeval
glQiwiApi
vk_api
aiosqlite
sphinx
sphinx_rtd_theme
nextcord
requests
beautifulsoup4
typing-extensions
multidict
idna
yarl
frozenlist
aiosignal
charset-normalizer
async-timeout
attrs
aiohttp
